.server-list-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  z-index:99;
  background-color: #697079;
  opacity: .9;
  color: #efefef;
  text-align: center;
  line-height: 3rem;
  font-size: 1rem;
  display: block;
  white-space: nowrap;
}

.server-list-top .more {
  font-weight: bold;
  cursor: pointer;
}

.server-list-bg {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

.server-list-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.server-list-card {
  margin: 40px auto;
  padding: 20px;
  max-width: 600px;
}

.server-list-card h1 {
  margin-top: 0;
}

.server-list-card .close {
  float: right;
  cursor: pointer;
}
